@{
    ViewBag.Title = "Main";
}




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row contact-box">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/IMAGES/Oxygen-Icons.org-Oxygen-Places-folder-tar.ico" style="width:30%;" />

                                <strong>View Stock</strong>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row contact-box ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/IMAGES/FundTransfer.png" style="width:30%;" />
                                <strong>STOCK TRANSFER</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row contact-box .RolesGrid">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/IMAGES/stocktake.png" style="width:30%;" />
                                <strong>Stock Take</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row contact-box ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/IMAGES/issue2.png" style="width:30%;" />
                                <strong>Material Issue</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row contact-box ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/IMAGES/reciet.png" style="width:30%;" />
                                <strong>Material Reciept</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row contact-box ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/IMAGES/reorder.png" style="width:30%;" />
                                <strong>Re-Order</strong>
                            </div>
                        </div>
                    </div>
                </div>
            
    </div>
</div>