@{
    ViewBag.Title = "Main";
}




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box center-version">
                    <a href="~/Home/ViewStock">
                        <img src="~/IMAGES/Oxygen-Icons.org-Oxygen-Places-folder-tar.ico" style="width:30%;" />
                        <h3><strong>View Stock</strong></h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box center-version">
                    <a href="~/Home/StockTransfer">
                        <img src="~/IMAGES/FundTransfer.png" style="width:30%;" />
                        <h3><strong>STOCK TRANSFER</strong></h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box center-version">
                    <a href="~/Home/Stocktake">
                        <img src="~/IMAGES/stocktake.png" style="width:30%;" />
                        <h3><strong>Stock Take</strong></h3>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-box center-version">
                    <a href="~/Home/MaterialIssue">
                        <img src="~/IMAGES/issue2.png" style="width:30%;" />
                        <h3><strong>Material Issue</strong></h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box center-version">
                    <a href="~/Home/MaterialReciept">
                        <img src="~/IMAGES/reciet.png" style="width:30%;" />
                        <h3><strong>Material Reciept</strong></h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box center-version">
                    <a href="~/Home/ReOrder">
                        <img src="~/IMAGES/reorder.png" style="width:30%;" />
                        <h3><strong>Re-Order</strong></h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>