
@{
    ViewBag.Title = "MaterialReciept";
}


<!-- Section Name1 -->
<section class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-12 col-md-12 col-sm-2 col-xs-12">
        <h3 class="text-uppercase">
           Material Receipt
        </h3>
    </div>
</section>
<!-- Section Name2 -->
<section class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
               
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Invoice No:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">PO No:</label>
                                    <input type="text" class="form-control" id="txtPONo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Challan No:</label>
                                    <input type="text" class="form-control" id="txtChallaneNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Invoice Date:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">PO Date:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Challan Date:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Suppliler Name:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Suppliler ID:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">GST No:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button class="btn btn-primary" id="btnSubmit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <h5>Materials List</h5>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                            <div class="ibox-tools">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>UOM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TV</td>
                                    <td>Sony</td>
                                    <td>LED FLat</td>
                                    <td>Electronics</td>
                                    <td>6</td>
                                    <td>Number</td>
                                </tr>
                                <tr>
                                    <td>Sport Shoes</td>
                                    <td>Adidas</td>
                                    <td>Soccer Boot</td>
                                    <td>Sports</td>
                                    <td>20</td>
                                    <td>Pairs</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-primary" id="btnRemarks">Remarks</button>
                        </div>
                        <div class="col-lg-6 text-right">
                            <h3 class="control-label text-navy">Total: <i class="fa fa-inr"></i> 34,000</h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

</section>