
@{
    ViewBag.Title = "Material Issue";
}
<!-- Section Name1 -->
<section class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="text-uppercase">
            MATERIAL ISSUE
        </h3>
        <ol class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><strong>Material Issue</strong></li>
        </ol>
    </div>
</section>
<!-- Section Name2 -->
<section class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-md">
                            <form class="form-inline">
                                <label class="control-label">ISSUE TO :&nbsp;&nbsp;</label>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" id="txtIssueTo" placeholder="Enter Employee No." />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" id="txtIssueTo" placeholder="Enter Employee Name" />
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            @*<p>
                                <label for="name">Name :</label>
                                <smal id="name">MANu MOAHAN</smal>
                            </p>
                            <p>
                                <label for="1">Employee No.:</label>
                                <smal id="1">Emp001</smal>
                            </p>
                            <p>
                                <label for="2">Department:</label>
                                <smal id="2">Management</smal>
                            </p>
                            <p>
                                <label for="3">Location :</label>
                                <smal id="3">Banglore</smal>
                            </p>
                            <p>
                                <label for="4">Project Name:</label>
                                <smal id="4">Inventory</smal>
                            </p>*@
                            <table class="table small table-hover">
                                <tbody>
                                    <tr>
                                        <th class="no-borders"><i class="fa fa-caret-right text-danger"></i> &nbsp;Name</th>
                                        <td class="no-borders">Manu</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-caret-right text-danger"></i> &nbsp;Employee No.</th>
                                        <td>Emp001</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-caret-right text-danger"></i> &nbsp;Department</th>
                                        <td>Management</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-caret-right text-danger"></i> &nbsp;Location</th>
                                        <td>Banglore</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-caret-right text-danger"></i> &nbsp;Project Name</th>
                                        <td>Inventory</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item Code</th>
                                            <th>Name </th>
                                            <th>Description </th>
                                            <th>Category</th>
                                            <th>Quantity In Stock</th>
                                            <th>UOM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>I001</td>
                                            <td>Table</td>
                                            <td>Desktop table for employees</td>
                                            <td>Furniture</td>
                                            <td>10</td>
                                            <td>183</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>I002</td>
                                            <td>Book</td>
                                            <td>Work book for employees</td>
                                            <td>Books</td>
                                            <td>200</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>I003</td>
                                            <td>Mi Phone</td>
                                            <td>Mobiles for employees</td>
                                            <td>Electronics</td>
                                            <td>250</td>
                                            <td>150</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <button class="btn btn-sm btn-primary" id="btnRemarks" type="submit">REMARKS</button>
                            <div class="col-lg-4 pull-right">
                                <h3 class="text-right text-navy">TOTAL: <i class="fa fa-inr"></i> 95,500 </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
