
@{
    ViewBag.Title = "MaterialReciept";
}


<!-- Section Name1 -->
<section class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-12 col-md-12 col-sm-2 col-xs-12">
        <h3 class="text-uppercase">
           Material Receipt
        </h3>
    </div>
</section>
<!-- Section Name2 -->
<section class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
               
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="control-label">INVOICE NO:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Invoice Number"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">PO NO:</label>
                                    <input type="text" class="form-control" id="txtPONo" placeholder="Purchase Order Number"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">CHALLAN NO:</label>
                                    <input type="text" class="form-control" id="txtChallaneNo" placeholder="Challan Number"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">INVOICE DATE:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Invoice Date"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">PO DATE:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Purchase Order Date"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">CHALLAN DATE:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">SUPPLILER NAME:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Supplier Name"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">SUPPLILER ID:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Suppler ID"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">GST NO:</label>
                                    <input type="text" class="form-control" id="txtInvoiceNo" placeholder="GST Number"/>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button class="btn btn-primary" id="btnSubmit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <h5>Materials List</h5>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                            <div class="ibox-tools">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>UOM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>TV</td>
                                    <td>LED FLat Television</td>
                                    <td>Sony</td>
                                    <td>Electronics</td>
                                    <td>6</td>
                                    <td>Numbers</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sport Shoes</td>
                                    <td>Soccer Boot</td>
                                    <td>Adidas</td>
                                    <td>Sports</td>
                                    <td>20</td>
                                    <td>Pairs</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Chairs for HO</td>
                                    <td>Chairs for Head Office</td>
                                    <td>Office Chair</td>
                                    <td>Furniture</td>
                                    <td>300</td>
                                    <td>Numbers</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Laptop</td>
                                    <td>Laptop for employees</td>
                                    <td>Hp,Dell,VAIO</td>
                                    <td>Electronics</td>
                                    <td>300</td>
                                    <td>Numbers</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-primary" id="btnRemarks">Remarks</button>
                        </div>
                        <div class="col-lg-6 text-right">
                            <h3 class="control-label text-navy">Total: <i class="fa fa-inr"></i> 34,000</h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

</section>