
@{
    ViewBag.Title = "StockTake";
}


@{
    ViewBag.Title = "StockTransfer";
}


<!-- Section Name1 -->
<section class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="text-uppercase">
            stock take
        </h3>
        <ol class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><strong>Stock Take</strong></li>
        </ol>
    </div>
</section>
<!-- Section Name2 -->
<section class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <select name="status" id="status" class="form-control input-sm">
                                    <option value="1" selected="">Item</option>
                                    <option>Quantity From</option>
                                    <option>Quantity To</option>
                                    <option>Category</option>
                                    <option>Last Vendor</option>
                                    <option>Description</option>
                                    <option>Add</option>
                                    <option>Remove</option>
                                </select>
                            </div>
                           

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="product_name" name="product_name" value="" placeholder="Enter" class="form-control input-sm">
                            </div>
                           

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <select name="status" id="status" class="form-control input-sm">
                                    <option value="1" selected="">Select location</option>
                                    <option>Delhi</option>
                                    <option>Noida</option>
                                    <option>Gurgaon</option>
                                    <option>Kanpur</option>
                                </select>
                            </div>
                            

                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm">Search </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>New Quantity</th>
                                            <th>Old Quantity</th>
                                            <th>DIfference</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>TV</td>
                                            <td>Sony</td>
                                            <td>LED FLat</td>
                                            <td>Electronics</td>
                                            <td class="col-md-2"><input type="text" class="form-control" /></td>
                                            <td>230</td>
                                            <td>200</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="#" class="btn btn-white btn-xs">Approve </a><a href="#" class="btn btn-white btn-xs"> Review</a><a class="btn btn-white btn-xs">Add Comments</a>
                                                </div>
                                               
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Sport Shoes</td>
                                            <td>Adidas</td>
                                            <td>Soccer Boot</td>
                                            <td>Sports</td>
                                            <td><input type="text" class="form-control" /></td>
                                            <td>100</td>
                                            <td>50</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="#" class="btn btn-white btn-xs">Approve </a><a href="#" class="btn btn-white btn-xs"> Review</a><a class="btn btn-white btn-xs">Add Comments</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Mobile</td>
                                            <td>Samsung Galaxy</td>
                                            <td>Silver white</td>
                                            <td>Electronics</td>
                                            <td><input type="text" class="form-control" /></td>
                                            <td>20</td>
                                            <td>80</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="#" class="btn btn-white btn-xs">Approve </a><a href="#" class="btn btn-white btn-xs"> Review</a><a class="btn btn-white btn-xs">Add Comments</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

