
@{
    ViewBag.Title = "StockTransfer";
}


<!-- Section Name1 -->
<section class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>
           STOCK TRASNSFER
        </h3>
        <ol class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li>
                <strong>Stock Transfer</strong>
            </li>
        </ol>
    </div>
</section>
<!-- Section Name2 -->
<section class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <select name="status" id="status" class="form-control input-sm">
                                    <option value="1" selected="">Item</option>
                                    <option>Quantity From</option>
                                    <option>Quantity To</option>
                                    <option>Category</option>
                                    <option>Last Vendor</option>
                                    <option>Description</option>
                                    <option>Add</option>
                                    <option>Remove</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="product_name" name="product_name" value="" placeholder="Enter" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <select name="status" id="status" class="form-control input-sm">
                                    <option value="1" selected="">Select location</option>
                                    <option>Delhi</option>
                                    <option>Noida</option>
                                    <option>Gurgaon</option>
                                    <option>Kanpur</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm">Search </button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="ibox-content">
                    <div class="">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item Code</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>UOM</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Item001</td>
                                    <td>Sony</td>
                                    <td>LED FLat</td>
                                    <td>Electronics</td>
                                    <td>6</td>
                                    <td>Number</td>
                                    <td>Bangalore</td>
                                    <td>Delhi</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Item002</td>
                                    <td>Adidas</td>
                                    <td>Soccer Boot</td>
                                    <td>Sports</td>
                                    <td>20</td>
                                    <td>Pairs</td>
                                    <td>Chennai</td>
                                    <td>Mumbai</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Item003</td>
                                    <td>Samsung Galaxy</td>
                                    <td>Silver white</td>
                                    <td>Electronics</td>
                                    <td>100</td>
                                    <td>Numbers</td>
                                    <td>Kochin</td>
                                    <td>Delhi</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Item004</td>
                                    <td>Sony</td>
                                    <td>LED FLat</td>
                                    <td>Electronics</td>
                                    <td>6</td>
                                    <td>Number</td>
                                    <td>Bangalore</td>
                                    <td>Delhi</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Item005</td>
                                    <td>Adidas</td>
                                    <td>Soccer Boot</td>
                                    <td>Sports</td>
                                    <td>20</td>
                                    <td>Pairs</td>
                                    <td>Chennai</td>
                                    <td>Mumbai</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Item006</td>
                                    <td>Samsung Galaxy</td>
                                    <td>Silver white</td>
                                    <td>Electronics</td>
                                    <td>100</td>
                                    <td>Numbers</td>
                                    <td>Kochin</td>
                                    <td>Delhi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tooltip-demo">
    <div id="small-chat" data-toggle="tooltip" title="Add New">
        <a class="open-small-chat">
            <i class="fa fa-pencil fa-2x"></i>
        </a>
    </div>
</div>
