<div class="footer">
    <div class="pull-right">
        All rights reserved.
    </div>
    <div>
        <strong>Copyright &copy; @DateTime.Now.Year <a href="http://www.cormsquare.com" target="_blank">cormsquare.com</a>.</strong>
    </div>
</div>
